@font-face {
	font-family: 'SDGothic';
	font-style: normal;
	font-weight: 400;
	src: url('#{$publicPath}/static/fonts/SDGothicNeoaTTF-dRg.eot');
	src: url('#{$publicPath}/static/fonts/SDGothicNeoaTTF-dRg.eot?#iefix') format('embedded-opentype'),
	url('#{$publicPath}/static/fonts/SDGothicNeoaTTF-dRg.woff') format('woff'),
	url('#{$publicPath}/static/fonts/SDGothicNeoaTTF-dRg.woff2') format('woff2'),
	url('#{$publicPath}/static/fonts/SDGothicNeoaTTF-dRg.ttf') format('truetype');

}
@font-face {
	font-family: 'SDGothic';
	font-style: normal;
	font-weight: 500;
	src: url('#{$publicPath}/static/fonts/SDGothicNeoaTTF-eMd.eot');
	src: url('#{$publicPath}/static/fonts/SDGothicNeoaTTF-eMd.eot?#iefix') format('embedded-opentype'),
	url('#{$publicPath}/static/fonts/SDGothicNeoaTTF-eMd.woff') format('woff'),
	url('#{$publicPath}/static/fonts/SDGothicNeoaTTF-eMd.woff2') format('woff2'),
	url('#{$publicPath}/static/fonts/SDGothicNeoaTTF-eMd.ttf') format('truetype');

}

@font-face {
	font-family: 'SDGothic';
	font-style: normal;
	font-weight: 700;
	src: url('#{$publicPath}/static/fonts/SDGothicNeoaTTF-gBd.eot');
	src: url('#{$publicPath}/static/fonts/SDGothicNeoaTTF-gBd.eot?#iefix') format('embedded-opentype'),
	url('#{$publicPath}/static/fonts/SDGothicNeoaTTF-gBd.woff') format('woff'),
	url('#{$publicPath}/static/fonts/SDGothicNeoaTTF-gBd.woff2') format('woff2'),
	url('#{$publicPath}/static/fonts/SDGothicNeoaTTF-gBd.ttf') format('truetype');

}

@font-face {
	font-family: 'Plain';
	font-style: normal;
	font-weight: 200;
	src: url('#{$publicPath}/static/fonts/Plain-Thin.eot');
	src: url('#{$publicPath}/static/fonts/Plain-Thin.eot?#iefix') format('embedded-opentype'),
	url('#{$publicPath}/static/fonts/Plain-Thin.woff') format('woff'),
	url('#{$publicPath}/static/fonts/Plain-Thin.woff2') format('woff2'),
	url('#{$publicPath}/static/fonts/Plain-Thin.ttf') format('truetype');

}
@font-face {
	font-family: 'Plain';
	font-style: normal;
	font-weight: 300;
	src: url('#{$publicPath}/static/fonts/Plain-Light.eot');
	src: url('#{$publicPath}/static/fonts/Plain-Light.eot?#iefix') format('embedded-opentype'),
	url('#{$publicPath}/static/fonts/Plain-Light.woff') format('woff'),
	url('#{$publicPath}/static/fonts/Plain-Light.woff2') format('woff2'),
	url('#{$publicPath}/static/fonts/Plain-Light.ttf') format('truetype');

}
@font-face {
	font-family: 'Plain';
	font-style: normal;
	font-weight: 400;
	src: url('#{$publicPath}/static/fonts/Plain-Regular.eot');
	src: url('#{$publicPath}/static/fonts/Plain-Regular.eot?#iefix') format('embedded-opentype'),
	url('#{$publicPath}/static/fonts/Plain-Regular.woff') format('woff'),
	url('#{$publicPath}/static/fonts/Plain-Regular.woff2') format('woff2'),
	url('#{$publicPath}/static/fonts/Plain-Regular.ttf') format('truetype');

}
@font-face {
	font-family: 'Plain';
	font-style: normal;
	font-weight: 500;
	src: url('#{$publicPath}/static/fonts/Plain-Medium.eot');
	src: url('#{$publicPath}/static/fonts/Plain-Medium.eot?#iefix') format('embedded-opentype'),
	url('#{$publicPath}/static/fonts/Plain-Medium.woff') format('woff'),
	url('#{$publicPath}/static/fonts/Plain-Medium.woff2') format('woff2'),
	url('#{$publicPath}/static/fonts/Plain-Medium.ttf') format('truetype');

}

@font-face {
	font-family: 'Plain';
	src: url('#{$publicPath}/static/fonts/Plain-Bold.eot');
	src: url('#{$publicPath}/static/fonts/Plain-Bold.eot?#iefix') format('embedded-opentype'),
	url('#{$publicPath}/static/fonts/Plain-Bold.woff2') format('woff2'),
	url('#{$publicPath}/static/fonts/Plain-Bold.woff') format('woff'),
	url('#{$publicPath}/static/fonts/Plain-Medium.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'NotoSansRegular';
	font-style: normal;
	font-weight: normal;
	src: url('#{$publicPath}/static/fonts/NotoSansCJKkr-Regular-Alphabetic.eot');
	src: url('#{$publicPath}/static/fonts/NotoSansCJKkr-Regular-Alphabetic.eot?#iefix') format('embedded-opentype'),
	url('#{$publicPath}/static/fonts/NotoSansCJKkr-Regular-Alphabetic.woff') format('woff'),
	url('#{$publicPath}/static/fonts/NotoSansCJKkr-Regular-Alphabetic.woff2') format('woff2'),
	url('#{$publicPath}/static/fonts/NotoSansCJKkr-Regular-Alphabetic.ttf') format('truetype');

}
@font-face {
	font-family: 'NotoSansMedium';
	font-style: normal;
	font-weight: 500;
	src: url('#{$publicPath}/static/fonts/NotoSansCJKkr-Medium-Alphabetic.eot');
	src: url('#{$publicPath}/static/fonts/NotoSansCJKkr-Medium-Alphabetic.eot?#iefix') format('embedded-opentype'),
	url('#{$publicPath}/static/fonts/NotoSansCJKkr-Medium-Alphabetic.woff') format('woff'),
	url('#{$publicPath}/static/fonts/NotoSansCJKkr-Medium-Alphabetic.woff2') format('woff2'),
	url('#{$publicPath}/static/fonts/NotoSansCJKkr-Medium-Alphabetic.ttf') format('truetype');

}
@font-face {
	font-family: 'NotoSansBold';
	font-style: normal;
	font-weight: bold;
	src: url('#{$publicPath}/static/fonts/NotoSansCJKkr-Bold-Alphabetic.eot');
	src: url('#{$publicPath}/static/fonts/NotoSansCJKkr-Bold-Alphabetic.eot?#iefix') format('embedded-opentype'),
	url('#{$publicPath}/static/fonts/NotoSansCJKkr-Bold-Alphabetic.woff') format('woff'),
	url('#{$publicPath}/static/fonts/NotoSansCJKkr-Bold-Alphabetic.woff2') format('woff2'),
	url('#{$publicPath}/static/fonts/NotoSansCJKkr-Bold-Alphabetic.ttf') format('truetype');
}
